@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading-spinner {
    align-self: center;
    width: 25px;
    height: 25px;
    border: 10px solid #DBDBDB;
    border-top: 10px solid #26D9D9;
    border-radius: 100%;
    animation: spinner 1.5s linear infinite;
}