

.topRow {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}


.creationInfo {
}

.middleRow {
    padding: 0 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}

.collaboratorsPart {
    width: fit-content;
}

.collaboratorsRow {
    display: flex;
    justify-content: space-between;
}

.collaboratorsRow h3 {
    margin: 10px;
    align-content: center;
}

.collaboratorsRow button {
    margin: 10px;
    font-size: 20px;
}
